<div class="card-container">
  <hr>

  <hr>

  <div>
    <h4>Local State</h4>
    <div>
    loaded: turned off <!-- {{loadedData | json}} -->
    </div>
    {{titleName}}
    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>

    <!-- <sebm-google-map-marker *ngFor="let cor of loadedData" [latitude]="cor.lat" [longitude]="cor.long"></sebm-google-map-marker> -->
<!--
    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    -->
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->



  </div>

</div>
